In [1]:
# Read in the country_codes_csv file and create a dictionary of country codes
# and country names. Then, write the dictionary to a file.

import csv
import json

country_codes = {}

with open('country_codes.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        country_codes[row[0]] = row[1]

with open('country_codes.json', 'w') as file:
    json.dump(country_codes, file, indent=4)

print('Done!')

Done!

In [1]:
# Read in the country_codes.csv file and create a json file of objects for each country, using pandas

import pandas as pd

df = pd.read_csv('country_codes.csv')

In [2]:
df

            Country Alpha-2 code Alpha-3 code  Numeric
0       Afghanistan           AF          AFG        4
1           Albania           AL          ALB        8
2           Algeria           DZ          DZA       12
3    American Samoa           AS          ASM       16
4           Andorra           AD          AND       20
..              ...          ...          ...      ...
244  Western Sahara           EH          ESH      732
245           Yemen           YE          YEM      887
246          Zambia           ZM          ZMB      894
247        Zimbabwe           ZW          ZWE      716
248   Åland Islands           AX          ALA      248

[249 rows x 4 columns]

In [ ]:
# Add a column that contains only the first letter of the country name

In [ ]:


df.to_json('country_codes_pandas.json', orient='records', indent=4)

# Save it to another json, group the countries by their first letter

print('Done!')